.box{
  height: 300px;
  margin-left: 5px;
}

.ft{
  background-image: url(../src/images/bg3.jpeg);
  height: 500px;
  width: 100%;

}

.body h1{
  text-align: center;
  background-color: blueviolet;
}
.body img{
  text-align: center;
  width: 100%;
  height: 500px;
}
.hd{
  background-color: aqua;
}